body{
	padding: 0;
	margin: 0;
}

/* Nous sommes Home */
.container{
	margin: 0 auto;
}
.home{
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
}

/* je suis le link */
a{
	text-decoration: none;
	padding: 15px;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	color: black;
	font-size: 20px;
}
.link{
	padding: 50px;
}
/* fin du link */

/* je suis le logo et le paragraphe */
.formation{
	background-image: url(images/img.jpeg);
	background-size: cover;
	width: 100%;
	height: 691px;
	
}

.background{
	background: rgba(81, 181, 161, 0.55);
	width: 100%;
	height: 100%;
}
.img0{
	text-align: center;
	border-radius: 0px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	border-top-right-radius: 30px;
	padding-bottom: 30px;
}
.logo{
	padding-top: 150px;
}
.p1{
	background-color: rgb(36, 35, 35);
	padding: 15px;
	color: white;
	font-family: sans-serif;
	font-size: 25px;
	width: 350px;
	margin: 0 auto;
}
.p2{
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	color: white;
}
/* fin  */

/* la programmation */
.programmes{
	background-color: #fff;
	padding: 130px;
	padding-bottom: 200px;
	display: flex;
	justify-content: space-around;
	width: auto;
}
.programmation{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	border: 2px solid rgba(81, 181, 161);
	background-image: url(images/programmation.png);
	background-repeat: no-repeat;
	background-position: 50%;
	position: relative;
	
}
.design{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	border: 2px solid rgba(81, 181, 161);
	background-image: url(images/web-design.png);
	background-repeat: no-repeat;
	background-position: 50%;
	position: relative;
}
.marketing{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	border: 2px solid rgb(81, 181, 161);
	background-image: url(images/marketing.png);
	background-repeat: no-repeat;
	background-position: 50%;
	position: relative;
}
.mere{
	display: flex;
	flex-direction: column;
	align-items: center ;
}
.h1, .h2, .h3{
	font-family: sans-serif;
	font-weight: 1 1000;
	color: black;
	font-size: 20px;
	text-align: center;
}	
.p3, .p4, .p5{
	
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	position: relative;
	left: 5px;
}
/* fin */

/* je suis Bakeli */
.bakeli{
	background-color: gainsboro;
	padding: 80px;
	text-align: center;
}
.h4{
	position: relative;
	bottom: 40px;
	font-family: "Montserrat", sans-serif;
}
.p6{
	word-spacing: 40px;
	font-family: "Montserrat", sans-serif;
	font-weight:  bold  ;
}
span{
	word-spacing: normal;
}
/* fin */
/* les_logos */
.les_logos{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.wordpress{
	height: 300px;
	width: 315px;
	background: rgba(131, 203, 207, 1);
	display: flex;
	align-items: center;
	
}
.img1{
	border-radius: 0px;
	color: rgba(131, 203, 207, 1);
	width: 160px;
	height: 99px;
	margin: 0px auto;

}
.html_css{
	height: 300px;
	width: 315px;
	background: rgba(103, 180, 204, 1);
	display: flex;
	align-items: center;
}
.html_css img{
	width: 203px;
	height: 203px;
}
.canva{
	height: 300px;
	width: 315px;
	background: rgba(113, 121, 103, 1);
	display: flex;
	align-items: center;
}
.Js{
	height: 300px;
	width: 318px;
	background: rgba(100, 154, 151, 1);
	display: flex;
	align-items: center;
}
.Js img{
	width: 133px;
	height: 133px;
}
.java{
	height: 300px;
	width: 315px;
	background: rgba(130, 114, 99, 1);
	display: flex;
	align-items: center;
}
.java img{
	width: 265px;
	height: 147px;
}
.insckape{
	height: 300px;
	width: 315px;
	background: rgba(53, 160, 174, 1);
	display: flex;
	align-items: center;
}
.insckape img{
	width: 127px;
	height: 133px;
}
.Adope{
	height: 300px;
	width: 315px;
	background: rgba(35, 119, 146, 1);
	display: flex;
	align-items: center;
}
.python{
	height: 300px;
	width: 318px;
	background: rgba(165, 192, 173, 1);
	display: flex;
	align-items: center;
}
/* fin */

/* Pourcentage de Bakeli */
.space{
	padding: 50px;
	display: grid;
	grid-template-columns: 424px 424px;
	grid-template-rows: 100px 100px;
	justify-content: space-around;
	padding-bottom: 50px;
}
.rien{
	visibility: hidden;
}
progress{
	appearance: none;
	width: 424px;
	height: 13px;
}
.pg::-webkit-progress-bar{
	-webkit-appearance: none;
	background-color: gainsboro;
	border-radius: 10px;
}
.pg::-webkit-progress-value{
	-webkit-appearance: none;
	background-color: #a5c0ad;
	border-radius: 10px;
}
.text{
	text-align: center;
	font-family: sans-serif;
	padding-top: 100px;
}
.span span{
	display: inline-block;
	font-family: sans-serif;
}
.span{
	display: flex;
	justify-content: space-between;
}
.id{
	font-weight: bolder;

}
/* fin */

/* Team */
.team{
	background: rgba(165, 192, 173, 1);
	padding: 50px;
	padding-bottom: 150px;
	width: auto;
	height: 600px;
}
.text1{
	text-align: center;
	font-family: sans-serif;
	color: #fff;
}
.h6{
	font-weight: lighter;
}
.coach{
	padding-top: 100px;
	display: flex;
	gap: 20px;
}
.img2{
	width: 280px;
	height: 400px;
	border-radius: 0px;
}
.coach1:hover{
	padding: 15px;
}
/* fin */

/* bakeli2 */
.evenement{
	padding: 80px;
	padding-bottom: 30px;
}
.bakeli2{
	text-align: center;
}
.img3{
	position: relative;
	bottom: 80px;
}
.p10{
	padding: 50px;
	font-family: "Montserrat", sans-serif;
	font-weight: bolder;
}
/* fin */

/* footer */
footer{
	background-color: gainsboro;
	padding: 50px;
}
h3{
	font-family: sans-serif;
	text-align: center;
}
.flex{
	display: flex;
	gap: 80px;
	justify-content: center;
	font-family: sans-serif;
}
.bop{
	position: relative;
	bottom: 20px;
}
.p0{
	position: relative;
	bottom: 40px;
}
.p01{
	position: relative;
	bottom: 20px;
}
.HH{
	text-align: center;
	font-family: sans-serif;
}
.pp{
	padding-bottom: 50px;
	text-align: center;
	position: relative;
	top: 60px;
	font-family: sans-serif;
}
/* fin */
/* sociaux */
.sociaux{
	display: flex;
	justify-content: center;
	align-self: center;
	gap: 50px;
	position: relative;
	top: 20px;
}
/* fin de la page */
@media screen and (max-width: 768px){
	.container{
		display: block;
	}
	/* partie 1 */
	.home{
		display: block;
	}
	.link{
		padding: 30px;
	}
	a{
		font-size: 15px;
	}
	/* fin de partie */
	/* partie 2 */
	.p1{
		position: relative;
	}
	/* Programmes */
	.programmes{
		padding: 20px;
		padding-bottom: 170px;
		padding-top: 70px;
	}
	/* fin programmes */
	/* bakeli */
	.p6{
		font-size: 14px;
		word-spacing: 10px;
	}
	/* fin bakeli */
	/* les-logos */
	.les_logos{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.wordpress, .html_css, .canva, .Adope, .insckape, .python, .java, .Js{
		width: 384px;
		height: 400px;
	}
	/* Pourcentage */
	.space{
		display: grid;
		grid-template-columns: 424px;
		grid-template-rows: 100px 100px 100px 100px;
	}
	.coach{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 400px 400px;
	}
	.team{
		height: auto;
	}
	/* fin pourcentage */
	.contact{
		font-size: 15px;
	}
}
@media screen and (max-width: 620px){
	
	/* Pourcentage */
	.space{
		display: grid;
		grid-template-columns: 424px;
		grid-template-rows: 100px 100px 100px 100px;
		padding-left: 300px;
	}
	.text{
		position: relative;
		left: 30%;
	}
	/* fin */
	/* team */
	.team{
		width: 150%;
		height: 1000px;
	}
	.coach{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 400px 400px;
	}
	/* fin pourcentage */
	/* evenement */
	.evenement{
		width: 130%;
		text-align: center;
	}
	/* fin */
	/* footer */
	footer{
		width: 150%;
	}
	footer .info{
		display: flex;
		flex-direction: column;
	}
	.contact{
		font-size: 15px;
	}
}
@media screen and (max-width: 620px){
	.container{
		display: block;
		width: auto;
	}
	/* partie 1 */
	
	.link{
		display: flex;
		flex-direction: row;
		padding: 0;
		justify-content: center;
	}
	.link a{
		font-size: 6px;
	}
	.formation{
		background-image: url(images/img.jpeg);
		background-size: cover;
		height: 691px;
		
	}
	
	.background{
		background: rgba(81, 181, 161, 0.55);
		width: 100%;
		height: 100%;
	}
	a{
		font-size: 25px;
		padding: 10px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	/* fin de partie */
	/* partie 2 */
	.p1{
		position: relative;
	}
	/* Programmes */
	.programmes{
		display: flex;
		flex-direction: column;
		
	}
	/* fin programmes */
	/* bakeli */
	.bakeli{
		width: auto;
	}
	.p6{
		font-size: 14px;
		word-spacing: 10px;
	}
	.p1{
		width: auto;
		font-size: 15px;
		padding: 7px;
	}
	.p2{
		font-size: 12px;
	}
	/* fin bakeli */
	/* les-logos */
	.les_logos{
		display: grid;
		grid-template-columns: 1fr;
	}
	.wordpress, .html_css, .canva, .Adope, .insckape, .python, .java, .Js{
		width: auto;
		height: 400px;
	}
	/* Pourcentage */
	.space{
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 100px 100px 100px 100px;
		padding: 0;
	}
	progress{
		width: 100%;
	}
	.pourcentage{
		width: 100%;
	}
	
	.text{
		position: relative;
		left: 0;
	}
	/* fin */
	/* team */
	.team{
		width: auto;
		height: auto;
		padding: 22px;
	}
	.coach{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 400px 400px;
		
	}
	/* fin pourcentage */
	/* evenement */
	.evenement{
		width: auto;
		text-align: center;
	}
	/* fin */
	/* footer */
	footer{
		width: auto;
	}
	footer .flex{
		display: flex;
		flex-direction: column;
	}
	.contact{
		font-size: 15px;
	}
}